#### 1

In [1]:
library(forecast)
library(ggplot2)
library(dplyr)
library(gridExtra)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘gridExtra’

The following object is masked from ‘package:dplyr’:

    combine

In [2]:
# library(doParallel)
library(doMC)
options(cores = 10)
registerDoMC()
require(svMisc)

Loading required package: foreach
Loading required package: iterators
Loading required package: parallel
Loading required package: svMisc

Attaching package: ‘svMisc’

The following object is masked from ‘package:utils’:

    ?

In [3]:
library(data.table)
library(hts)

Attaching package: ‘data.table’

The following objects are masked from ‘package:dplyr’:

    between, first, last

In [4]:
df_eu  <-  read.csv(file="../data_hts/hts_rus_summed.csv", header=TRUE, sep=",", row.names =1 )
# df_eu  <-  df_eu/1000
var_freq  <- 12    
var_start_year  <- 2006      
gdp_agg <- df_eu_sums <-  rowSums(df_eu)
gdp_agg  <- ts(gdp_agg, frequency = var_freq, start = var_start_year)

In [5]:
var_h  <- 24
var_window  <-  84 - 1
var_topup  <-  -1
var_iter   <- (length(gdp_agg)+var_topup)/var_freq-(var_window+1)/var_freq-2

In [6]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

var_arpdq   <-  c(2,0,0)
var_sarpdq   <-  c(1,0,0)
var_drift   <-  TRUE
var_constant   <-  TRUE

var_char  <-  c(4,2)

In [7]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data, characters = var_char)
s  <-  smatrix(y)
# gts_train  <- window(y, start=19, end=46)
# gts_test  <- window(y, start=47, end=54)
# allts <- aggts(gts_train)
# allf <- matrix(, nrow=var_h, ncol=ncol(allts))

In [8]:
var_countries  <-  dim(read.csv(file="../clustering/hts_rus_summed_state.csv", header=TRUE, sep=",", row.names =1 ))[2]+1
var_countries

[1] 81

In [9]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    
    allts <- aggts(gts_train)
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant, method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant, method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(rep(0, var_countries), rep(1, (ncol(allts)-var_countries) )))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5, characters = var_char)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
            
    }

[1]   1  84  85 108
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 80 320
Total number of series: 401
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -4896.81750  1643.05791  5966.87984    45.48826  6254.84774  9173.73539
 [7] 17897.91381 22701.81144 15356.73933 18939.87088 13488.40643  8877.97005
[13]  9995.90298 13671.31077 16679.30287 13109.15106 17749.10747 19186.64059
[19] 24620.69955 27667.15791 23344.44777 26846.98551 23459.07566 21464.56754
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 80 320
Total number of series: 401
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -21804  -5608 -15157  -9048  -8227   6992  23186  23066  11709  11702
[11]   5839    263 -14727  -1700  -6177  -2526  -5848   6309  23731  19854
[21]  12060  10071    438  -2700
          0%---------25%---------50%---------75%--------100%
Progress: [1]  13  96  97 120
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 80 320
Total number of series: 401
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -1745.3704   960.4030  -841.0936  2810.9687  3836.3620  8961.4426
 [7] 22073.7314 20294.2108 13163.1707 19522.5046 11380.9880 10861.6712
[13] 10748.1167 10895.7038 10843.5698 13032.9859 13904.1976 16129.3337
[19] 24956.2579 23689.6809 19428.4714 25043.1426 19297.6762 19717.9915
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 80 320
Total number of series: 401
Number of observations per series: 24
Top level series:
Time Series:
Start = 97
End = 120
Frequency = 1
 [1] -14727  -1700  -6177  -2526  -5848   6309  23731  19854  12060  10071
[11]    438  -2700 -24328 -11496 -13858  -6986  -5066   4880  26123  23705
[21]  18556  14103   4114   8705
[1]  25 108 109 132
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 80 320
Total number of series: 401
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -1914.979  1940.335  2424.975  6671.640  5598.498  9041.007 24733.011
 [8] 19115.183 16108.683 18065.300  6930.452 11000.311  9546.344 10975.489
[15] 11449.989 14834.893 14422.944 15462.818 26993.840 22601.849 21321.339
[22] 23636.566 15149.711 19537.566
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 80 320
Total number of series: 401
Number of observations per series: 24
Top level series:
Time Series:
Start = 109
End = 132
Frequency = 1
 [1] -24328 -11496 -13858  -6986  -5066   4880  26123  23705  18556  14103
[11]   4114   8705 -26799  -6998   1542  -2629  -3031  10067  18591  22017
[21]  10026   2420  -1256 -12220
|[1]  37 120 121 144
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 80 320
Total number of series: 401
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -5281.390 -2287.198  2039.604  3740.767  2798.257 10998.978 23601.476
 [8] 18845.661 18440.235 17335.803  8324.180 16077.090  6567.837  7191.419
[15] 11292.335 11879.371 10768.906 16408.274 24497.991 20624.945 21176.469
[22] 20962.637 14418.749 20715.684
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 80 320
Total number of series: 401
Number of observations per series: 24
Top level series:
Time Series:
Start = 121
End = 144
Frequency = 1
 [1] -26799  -6998   1542  -2629  -3031  10067  18591  22017  10026   2420
[11]  -1256 -12220 -41475 -19176 -12642 -15942 -18179  -6838   5045  10369
[21]  -1320  -8177  -6696 -12005
|[1]  49 132 133 156
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 80 320
Total number of series: 401
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1]  -8121.3131    430.6877  -2324.8817    606.8877   8796.3692  12575.8677
 [7]  17370.3069   8033.1363   3779.6984   2954.9764  -2332.0288 -16510.7700
[13]    455.8841   6274.6896   3363.6539   5642.3943  10431.8554  12272.8913
[19]  15903.6483   9722.3188   7192.4571   7163.9683   4411.3906  -3303.6251
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 80 320
Total number of series: 401
Number of observations per series: 24
Top level series:
Time Series:
Start = 134
End = 157
Frequency = 1
 [1] -19176 -12642 -15942 -18179  -6838   5045  10369  -1320  -8177  -6696
[11] -12005 -29346 -19876 -35619 -33053 -24949 -16354  -5987   1730  -4072
[21]  -7117 -11516 -24655 -43180

In [10]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [11]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)

In [12]:
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [13]:
l[[5]][,1]

Time Series:
Start = 1
End = 24
Frequency = 1
 [1] -18142.1838  -6612.8484  -6574.0089  -4631.2833   7192.7245  14944.1559
 [7]  18367.5111   9470.5287   3864.2489   1240.0827  -7172.3909 -29985.4587
[13] -11562.2272  -2423.2258  -2315.9107   -724.4085   8614.6865  14753.3097
[19]  17492.4210  10561.1235   6210.7762   4199.6707  -2354.4295 -20209.7655

In [15]:
df_acc

  ME        RMSE     MAPE     Iteration
1 -12147.76 14761.82 554.2026  1
2 -10072.05 13591.11 243.9154 13
3 -11477.74 15317.18 246.2753 25
4 -17351.84 21277.64 275.3793 37
5 -18514.39 21040.37 190.4801 50

In [16]:
colMeans(df_acc)

         ME        RMSE        MAPE   Iteration
-13912.7557  17197.6267    302.0505     25.2000

In [17]:
df_mean_acc <- readRDS("df_mean_acc_no_weights.rds")
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           15346.86
2 level (state)      67.92739    266.6368           15342.24
2 level (type)       63.95990    299.9543           15511.31
2 level (clusetered) 67.09557    247.4651           15338.88

In [18]:
df_mean_acc[2,3]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           17197.63
2 level (state)      67.92739    266.6368           15342.24
2 level (type)       63.95990    299.9543           15511.31
2 level (clusetered) 67.09557    247.4651           15338.88

#### 2 state

In [20]:
df_eu  <-  read.csv(file="../clustering/hts_rus_summed_state.csv", header=TRUE, sep=",", row.names =1 )
# df_eu  <-  df_eu/1000

In [21]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

In [22]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
allts <- aggts(y)
allf <- matrix(, nrow=var_h, ncol=ncol(allts))

Since argument characters are not specified, the default labelling system is used.

In [23]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    
    
    allts <- aggts(gts_train)
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant, method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant, method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(0,rep(1, dim(df_eu)[2])))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
            
    }

[1]   1  84  85 108

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 80
Total number of series: 81
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -7918.220  2393.520  5644.441  2583.429  4977.876  9563.807 16605.918
 [8] 21433.589 16864.790 16984.628 13986.357  9682.351  8842.413 14491.880
[15] 16414.232 15256.753 16744.147 19586.676 23665.677 26842.536 24757.787
[22] 25317.843 23936.404 22152.837
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 80
Total number of series: 81
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -21804  -5608 -15157  -9048  -8227   6992  23186  23066  11709  11702
[11]   5839    263 -14727  -1700  -6177  -2526  -5848   6309  23731  19854
[21]  12060  10071    438  -2700
          0%---------25%---------50%---------75%--------100%
Progress: [1]  13  96  97 120

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 80
Total number of series: 81
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -3586.8591  5014.5487   988.6496  4500.4507  5050.2250 12417.4059
 [7] 20685.4441 21328.7030 16515.0599 16954.9122 13977.0301 11687.8167
[13]  9681.5946 14236.1368 12269.3680 14502.3486 14996.9797 19125.1105
[19] 23960.6512 24727.8666 22570.4815 23127.3935 21610.3905 20665.2001
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 80
Total number of series: 81
Number of observations per series: 24
Top level series:
Time Series:
Start = 97
End = 120
Frequency = 1
 [1] -14727  -1700  -6177  -2526  -5848   6309  23731  19854  12060  10071
[11]    438  -2700 -24328 -11496 -13858  -6986  -5066   4880  26123  23705
[21]  18556  14103   4114   8705
[1]  25 108 109 132

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 80
Total number of series: 81
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -3407.299  5884.147  5522.484  7845.788  6458.431 12136.906 20674.436
 [8] 19508.031 16005.500 15717.653 11108.827 10455.865  9331.457 14214.070
[15] 14262.434 15767.939 15136.969 18291.742 23080.675 22845.229 21258.031
[22] 21381.273 19064.620 19131.375
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 80
Total number of series: 81
Number of observations per series: 24
Top level series:
Time Series:
Start = 109
End = 132
Frequency = 1
 [1] -24328 -11496 -13858  -6986  -5066   4880  26123  23705  18556  14103
[11]   4114   8705 -26799  -6998   1542  -2629  -3031  10067  18591  22017
[21]  10026   2420  -1256 -12220
|[1]  37 120 121 144

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 80
Total number of series: 81
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -2854.919  2817.575  2041.033  4968.438  6139.028 10922.374 20895.514
 [8] 20258.423 18035.875 16587.571 11509.000 14338.692  7927.434 11088.360
[15] 11022.038 12636.552 13457.267 16144.501 21600.782 21610.218 20611.016
[22] 20178.793 17453.351 19261.518
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 80
Total number of series: 81
Number of observations per series: 24
Top level series:
Time Series:
Start = 121
End = 144
Frequency = 1
 [1] -26799  -6998   1542  -2629  -3031  10067  18591  22017  10026   2420
[11]  -1256 -12220 -41475 -19176 -12642 -15942 -18179  -6838   5045  10369
[21]  -1320  -8177  -6696 -12005
|[1]  49 132 133 156

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 80
Total number of series: 81
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -13556.7109  -2921.6842  -1934.0024   -768.2052   7912.9405  13554.5760
 [7]  15894.8630   9338.3962   5197.8920   3094.5293  -2749.2752 -20003.1361
[13]  -3769.2378   2591.3136   3277.3326   4024.7788   9368.4215  12933.6271
[19]  14430.7720  10606.4687   8188.9114   6915.2171   3722.5618  -6774.6406
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 80
Total number of series: 81
Number of observations per series: 24
Top level series:
Time Series:
Start = 134
End = 157
Frequency = 1
 [1] -19176 -12642 -15942 -18179  -6838   5045  10369  -1320  -8177  -6696
[11] -12005 -29346 -19876 -35619 -33053 -24949 -16354  -5987   1730  -4072
[21]  -7117 -11516 -24655 -43180

In [24]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [47]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [48]:
df_acc

  ME        RMSE     MAPE     Iteration
1 -11230.18 13222.85 497.1900  1
2 -10258.11 12637.96 265.2855 13
3 -10509.79 13710.30 234.5802 25
4 -16941.59 20417.35 287.5679 37
5 -14361.51 16722.74 181.4095 50

In [25]:
colMeans(df_acc)

         ME        RMSE        MAPE   Iteration
-14187.2109  17394.5488    326.2512      3.0000

In [26]:
# df_mean_acc <- readRDS("df_mean_acc.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [27]:
df_mean_acc[3,3]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           17197.63
2 level (state)      67.92739    266.6368           17394.55
2 level (type)       63.95990    299.9543           15511.31
2 level (clusetered) 67.09557    247.4651           15338.88

#### 2 type

In [28]:
df_eu  <-  read.csv(file="../clustering/hts_rus_summed_type.csv", header=TRUE, sep=",", row.names =1 )
# df_eu  <-  df_eu/1000

In [29]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

In [30]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
allts <- aggts(y)
allf <- matrix(, nrow=var_h, ncol=ncol(allts))

Since argument characters are not specified, the default labelling system is used.

In [32]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    allts <- aggts(gts_train)
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant, method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant, method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(0,rep(1, dim(df_eu)[2])))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
            
    }

[1]   1  84  85 108

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 4
Total number of series: 5
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -6411.2367  1351.2676  5718.8991  -398.9669  5024.4400  9207.7242
 [7] 18642.1210 24696.6401 16753.5272 18898.8775 13533.7425  7568.1151
[13]  8246.0600 13275.4245 16411.0373 12194.8744 16753.3090 18909.6587
[19] 25546.5333 29559.2145 24246.1928 27296.6563 23335.5399 20226.8932
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 4
Total number of series: 5
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -21804  -5608 -15157  -9048  -8227   6992  23186  23066  11709  11702
[11]   5839    263 -14727  -1700  -6177  -2526  -5848   6309  23731  19854
[21]  12060  10071    438  -2700
          0%---------25%---------50%---------75%--------100%
Progress: [1]  13  96  97 120

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 4
Total number of series: 5
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -4806.031  1564.690 -2051.771  2391.527  3045.311 10665.749 24184.176
 [8] 22519.134 14967.050 19065.713 11595.467 10077.447  8556.214 10537.820
[15]  9216.367 12355.493 12842.191 16750.019 27198.777 25387.469 20471.129
[22] 25357.728 18689.520 18889.773
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 4
Total number of series: 5
Number of observations per series: 24
Top level series:
Time Series:
Start = 97
End = 120
Frequency = 1
 [1] -14727  -1700  -6177  -2526  -5848   6309  23731  19854  12060  10071
[11]    438  -2700 -24328 -11496 -13858  -6986  -5066   4880  26123  23705
[21]  18556  14103   4114   8705
[1]  25 108 109 132

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 4
Total number of series: 5
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -3976.976  3659.524  2010.332  5736.494  3623.771 10045.817 25476.756
 [8] 20339.782 16640.302 16794.800  6464.439  8486.638  6718.321 10631.016
[15] 10133.004 13462.737 12076.054 15445.981 28264.321 23265.906 21685.175
[22] 22736.194 13394.220 17304.449
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 4
Total number of series: 5
Number of observations per series: 24
Top level series:
Time Series:
Start = 109
End = 132
Frequency = 1
 [1] -24328 -11496 -13858  -6986  -5066   4880  26123  23705  18556  14103
[11]   4114   8705 -26799  -6998   1542  -2629  -3031  10067  18591  22017
[21]  10026   2420  -1256 -12220
|[1]  37 120 121 144

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 4
Total number of series: 5
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -10022.8096  -4174.5757  -1589.9607   1341.1711    929.1269   9838.6971
 [7]  24532.4629  20640.0662  19193.3765  16567.0773   7410.1484  14235.3378
[13]   1316.2565   3855.9476   7875.7929   8867.3226   7553.2989  14884.1536
[19]  25193.5405  21241.1250  21375.4763  19800.1910  12167.4250  18974.2517
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 4
Total number of series: 5
Number of observations per series: 24
Top level series:
Time Series:
Start = 121
End = 144
Frequency = 1
 [1] -26799  -6998   1542  -2629  -3031  10067  18591  22017  10026   2420
[11]  -1256 -12220 -41475 -19176 -12642 -15942 -18179  -6838   5045  10369
[21]  -1320  -8177  -6696 -12005
|[1]  49 132 133 156

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 4
Total number of series: 5
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1]  -6690.6013   1849.6411   -520.3260    904.9250   9986.2276  15050.5233
 [7]  19103.4773   9886.6271   4955.9790   3260.7301  -3384.1746 -21549.8608
[13]    129.3354   6569.3430   3830.6317   5475.2657  11540.4569  14483.5580
[19]  18174.9771  11278.0993   8053.7524   7364.9565   3307.4734  -8066.9180
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 4
Total number of series: 5
Number of observations per series: 24
Top level series:
Time Series:
Start = 134
End = 157
Frequency = 1
 [1] -19176 -12642 -15942 -18179  -6838   5045  10369  -1320  -8177  -6696
[11] -12005 -29346 -19876 -35619 -33053 -24949 -16354  -5987   1730  -4072
[21]  -7117 -11516 -24655 -43180

In [33]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [34]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [35]:
df_acc

  ME        RMSE     MAPE     Iteration
1 -12037.02 14333.54 526.6038  1
2 -10093.08 12939.37 242.9551 13
3 -10843.21 14350.07 225.6168 25
4 -15721.29 19468.62 263.1924 37
5 -18939.55 21144.80 209.6346 50

In [36]:
colMeans(df_acc)

         ME        RMSE        MAPE   Iteration
-13526.8297  16447.2767    293.6005     25.2000

In [37]:
# df_mean_acc <- readRDS("df_mean_acc.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [38]:
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           17197.63
2 level (state)      67.92739    266.6368           17394.55
2 level (type)       63.95990    299.9543           15511.31
2 level (clusetered) 67.09557    247.4651           15338.88

In [39]:
df_mean_acc[4,3]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           17197.63
2 level (state)      67.92739    266.6368           17394.55
2 level (type)       63.95990    299.9543           16447.28
2 level (clusetered) 67.09557    247.4651           15338.88

#### 2 clust

In [41]:
df_eu  <-  read.csv(file="../clustering/hts_rus_summed_clust.csv", header=TRUE, sep=",", row.names =1 )
# df_eu  <-  df_eu/1000

In [42]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

In [43]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
allts <- aggts(y)
allf <- matrix(, nrow=var_h, ncol=ncol(allts))

Since argument characters are not specified, the default labelling system is used.

In [44]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    allts <- aggts(gts_train)
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant, method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant, method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(0,rep(1, dim(df_eu)[2])))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
            
    }

[1]   1  84  85 108

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -6949.7014   894.2488  5293.9297  -745.5515  4932.0962  9015.1781
 [7] 18325.5374 24286.7466 16521.4082 18802.2419 13463.9817  7938.2145
[13]  8121.9931 13060.9113 16152.4627 12083.9164 16715.3834 18866.5415
[19] 25245.0483 29139.3497 24130.7548 27084.6157 23299.5534 20626.0932
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -21804  -5608 -15157  -9048  -8227   6992  23186  23066  11709  11702
[11]   5839    263 -14727  -1700  -6177  -2526  -5848   6309  23731  19854
[21]  12060  10071    438  -2700
          0%---------25%---------50%---------75%--------100%
Progress: [1]  13  96  97 120

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -5696.1619   214.4224 -3444.0071   912.6137  1659.6568  8932.6565
 [7] 22360.3350 20727.5159 13436.3624 17618.5440 10093.4176  8758.4701
[13]  6543.5978  8638.0838  7249.2890 10275.6250 10903.1260 14704.1902
[19] 24653.6312 23114.0059 18555.6910 23086.8586 16799.5437 17005.0575
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 24
Top level series:
Time Series:
Start = 97
End = 120
Frequency = 1
 [1] -14727  -1700  -6177  -2526  -5848   6309  23731  19854  12060  10071
[11]    438  -2700 -24328 -11496 -13858  -6986  -5066   4880  26123  23705
[21]  18556  14103   4114   8705
[1]  25 108 109 132

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -4506.315  2784.240  1288.876  5365.129  3484.144  9387.998 24872.435
 [8] 19803.257 16220.267 16552.996  6061.390  8261.830  6097.767 10031.660
[15]  9503.056 13147.456 12033.025 14968.182 27504.424 22865.712 21290.563
[22] 22391.584 13256.366 16957.630
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 24
Top level series:
Time Series:
Start = 109
End = 132
Frequency = 1
 [1] -24328 -11496 -13858  -6986  -5066   4880  26123  23705  18556  14103
[11]   4114   8705 -26799  -6998   1542  -2629  -3031  10067  18591  22017
[21]  10026   2420  -1256 -12220
|[1]  37 120 121 144

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1] -9361.3526 -4069.6820  -980.9591  1782.8263  1338.6388 10277.9724
 [7] 24536.2117 20322.2257 19033.7002 16733.8170  7572.6519 14422.6519
[13]  1993.5419  4190.6445  8265.0572  9369.1841  8290.5165 15467.1435
[19] 25316.7899 21324.8113 21459.1224 20212.6772 12807.5738 19264.8234
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 24
Top level series:
Time Series:
Start = 121
End = 144
Frequency = 1
 [1] -26799  -6998   1542  -2629  -3031  10067  18591  22017  10026   2420
[11]  -1256 -12220 -41475 -19176 -12642 -15942 -18179  -6838   5045  10369
[21]  -1320  -8177  -6696 -12005
|[1]  49 132 133 156

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 24
Top level series:
Time Series:
Start = 85
End = 108
Frequency = 1
 [1]  -7057.6433   1662.8408  -1010.3603    619.7441   9510.1657  14238.6883
 [7]  18292.0454   9059.3597   4099.2860   2514.7671  -3763.8515 -21175.4687
[13]   -281.3737   6096.0632   3364.5214   5113.5680  10998.8512  13721.9699
[19]  17186.2469  10436.4698   7204.1939   6610.2665   2888.9913  -7815.3139
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 24
Top level series:
Time Series:
Start = 134
End = 157
Frequency = 1
 [1] -19176 -12642 -15942 -18179  -6838   5045  10369  -1320  -8177  -6696
[11] -12005 -29346 -19876 -35619 -33053 -24949 -16354  -5987   1730  -4072
[21]  -7117 -11516 -24655 -43180

In [45]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [46]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [47]:
colMeans(df_acc)

         ME        RMSE        MAPE   Iteration
-13007.1647  16062.6655    284.2467     25.2000

In [48]:
# df_mean_acc <- readRDS("df_mean_acc.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [49]:
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           17197.63
2 level (state)      67.92739    266.6368           17394.55
2 level (type)       63.95990    299.9543           16447.28
2 level (clusetered) 67.09557    247.4651           15338.88

In [50]:
df_mean_acc[5,3]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           17197.63
2 level (state)      67.92739    266.6368           17394.55
2 level (type)       63.95990    299.9543           16447.28
2 level (clusetered) 67.09557    247.4651           16062.67

In [51]:
saveRDS(df_mean_acc, "df_mean_acc_no_weights.rds")
# saveRDS(plots_test_all, "plots_test_not_all.rds")

In [52]:
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           17197.63
2 level (state)      67.92739    266.6368           17394.55
2 level (type)       63.95990    299.9543           16447.28
2 level (clusetered) 67.09557    247.4651           16062.67

In [53]:
readRDS("df_mean_acc.rds")

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              64.24503    298.8763           15346.86
2 level (state)      64.23140    298.8923           15342.24
2 level (type)       64.10458    299.4158           15511.31
2 level (clusetered) 64.25570    297.5359           15338.88

In [ ]:
|