#### 2

In [1]:
library(forecast)
library(ggplot2)
library(dplyr)
library(gridExtra)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘gridExtra’

The following object is masked from ‘package:dplyr’:

    combine

In [2]:
# library(doParallel)
library(doMC)
options(cores = 10)
registerDoMC()
require(svMisc)

Loading required package: foreach
Loading required package: iterators
Loading required package: parallel
Loading required package: svMisc

Attaching package: ‘svMisc’

The following object is masked from ‘package:utils’:

    ?

In [3]:
library(data.table)
library(hts)

Attaching package: ‘data.table’

The following objects are masked from ‘package:dplyr’:

    between, first, last

In [4]:
df_eu  <-  read.csv(file="../data_hts/hts_us_ind_filled.csv", header=TRUE, sep=",", row.names =1 )
df_eu  <-  df_eu/1000
var_freq  <- 4    
var_start_year  <- 2005   
gdp_agg <- df_eu_sums <-  rowSums(df_eu)
gdp_agg  <- ts(gdp_agg, frequency = var_freq, start = var_start_year)

In [5]:
var_h  <- 8
var_window  <-  28 - 1
var_topup  <-  2
var_iter   <- (length(gdp_agg)+var_topup)/var_freq-(var_window+1)/var_freq-2

In [6]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

var_arpdq   <-  c(4,0,0)
var_sarpdq   <-  c(0,0,0)
var_drift   <-  TRUE
var_constant   <-  TRUE
var_char  <-  c(2,3)

In [7]:
var_countries  <-  dim(read.csv(file="../clustering/hts_us_ind_filled_state.csv", header=TRUE, sep=",", row.names =1 ))[2]+1
var_countries

[1] 51

In [8]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data, characters = var_char)
s  <-  smatrix(y)
# gts_train  <- window(y, start=19, end=46)
# gts_test  <- window(y, start=47, end=54)
# allts <- aggts(gts_train)
# allf <- matrix(, nrow=var_h, ncol=ncol(allts))

In [9]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    
    
    allts <- aggts(gts_train)
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant, method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant, method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(rep(0, var_countries), rep(1, (ncol(allts)-var_countries) )))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5, characters = var_char)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
            
    }

[1]  1 28 29 36
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15830.30 15832.37 15833.77 15809.82 15789.18 15789.84 15786.80 15806.47
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15927.61 15976.18 15983.30 15994.87 16128.30 16136.38 16254.91 16372.60
          0%---------25%---------50%---------75%--------100%
Progress: [1]  5 32 33 40
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15956.91 15936.50 15913.20 15892.81 15888.91 15886.47 15897.32 15914.03
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 33
End = 40
Frequency = 1
[1] 16128.30 16136.38 16254.91 16372.60 16316.98 16522.48 16733.98 16809.04
[1]  9 36 37 44
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16376.76 16369.78 16375.19 16350.02 16336.34 16339.83 16347.29 16361.42
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 37
End = 44
Frequency = 1
[1] 16316.98 16522.48 16733.98 16809.04 16949.40 17070.24 17129.69 17147.05
|[1] 13 40 41 48
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16852.25 16856.03 16851.90 16858.74 16870.61 16897.85 16936.92 16985.48
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 41
End = 48
Frequency = 1
[1] 16949.40 17070.24 17129.69 17147.05 17237.31 17306.78 17369.38 17427.95
|[1] 17 44 45 52
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17187.37 17227.49 17287.38 17356.55 17417.26 17484.85 17551.37 17621.32
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 45
End = 52
Frequency = 1
[1] 17237.31 17306.78 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87
[1] 21 48 49 56
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17366.12 17455.47 17543.98 17622.80 17709.93 17784.69 17855.93 17931.29
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 47
End = 54
Frequency = 1
[1] 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87 17934.57 18122.00

In [10]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [11]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)

In [12]:
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [13]:
df_acc

  ME        RMSE      MAPE      Iteration
1 286.95237 328.15508 1.7739371  1
2 498.56478 559.58448 3.0163947  5
3 477.77995 559.57969 2.9013180  9
4 316.00365 335.43116 1.8312523 13
5 119.50098 135.35480 0.6784573 17
6  41.48273  80.70339 0.3295724 19

In [14]:
colMeans(df_acc)

        ME       RMSE       MAPE  Iteration
290.047411 333.134766   1.755155  10.666667

In [16]:
df_mean_acc <- readRDS("df_mean_acc_no_weights.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              61.83956    353.9334           14343.00
3 level              70.87249    353.0963           15084.68
2 level (state)      73.09368    353.1170           13590.31
2 level (type)       62.65435    353.3872           12888.11
2 level (clusetered) 73.67195    352.2130           13401.44

In [17]:
df_mean_acc[2,2]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              61.83956    353.9334           14343.00
3 level              70.87249    333.1348           15084.68
2 level (state)      73.09368    353.1170           13590.31
2 level (type)       62.65435    353.3872           12888.11
2 level (clusetered) 73.67195    352.2130           13401.44

#### 2 state

In [18]:
df_eu  <-  read.csv(file="../clustering/hts_us_ind_filled_state.csv", header=TRUE, sep=",", row.names =1 )
df_eu  <-  df_eu/1000

In [19]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

In [20]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
allts <- aggts(y)
allf <- matrix(, nrow=var_h, ncol=ncol(allts))

Since argument characters are not specified, the default labelling system is used.

In [21]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
      
    allts <- aggts(gts_train)
    
    
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant,  method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant,  method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(0,rep(1, dim(df_eu)[2])))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
        
    }

[1]  1 28 29 36

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15844.12 15872.70 15883.23 15869.42 15853.44 15846.74 15841.24 15848.90
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15927.61 15976.18 15983.30 15994.87 16128.30 16136.38 16254.91 16372.60
          0%---------25%---------50%---------75%--------100%
Progress: [1]  5 32 33 40

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15946.54 15912.79 15888.91 15862.67 15854.64 15856.42 15862.50 15879.29
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 33
End = 40
Frequency = 1
[1] 16128.30 16136.38 16254.91 16372.60 16316.98 16522.48 16733.98 16809.04
[1]  9 36 37 44

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16396.19 16418.31 16433.61 16419.11 16414.84 16410.98 16407.77 16415.99
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 37
End = 44
Frequency = 1
[1] 16316.98 16522.48 16733.98 16809.04 16949.40 17070.24 17129.69 17147.05
|[1] 13 40 41 48

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16853.63 16864.54 16847.58 16842.00 16854.79 16877.10 16914.02 16959.25
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 41
End = 48
Frequency = 1
[1] 16949.40 17070.24 17129.69 17147.05 17237.31 17306.78 17369.38 17427.95
|[1] 17 44 45 52

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17214.46 17275.35 17334.18 17411.86 17481.02 17542.13 17607.62 17669.81
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 45
End = 52
Frequency = 1
[1] 17237.31 17306.78 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87
[1] 21 48 49 56

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17371.07 17488.04 17575.01 17655.64 17742.61 17808.91 17869.38 17939.56
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 47
End = 54
Frequency = 1
[1] 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87 17934.57 18122.00

In [22]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [23]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [24]:
df_acc

  ME        RMSE      MAPE      Iteration
1 239.29752 284.66298 1.4781394  1
2 526.36333 587.18704 3.1853192  5
3 420.25626 504.40399 2.5905510  9
4 328.11024 350.37487 1.9010985 13
5  69.14498  92.24624 0.3912052 17
6  18.98181  78.21705 0.3214253 19

In [28]:
l[[5]][,1]

Time Series:
Start = 1
End = 8
Frequency = 1
[1] 17186.04 17225.43 17275.33 17341.06 17414.05 17493.17 17575.67 17658.21

In [25]:
colMeans(df_acc)
df_mean_acc

        ME       RMSE       MAPE  Iteration
267.025691 316.182031   1.644623  10.666667

                     Квартальные Сезонно сглаженные Месячные
1 level              61.83956    353.9334           14343.00
3 level              70.87249    333.1348           15084.68
2 level (state)      73.09368    353.1170           13590.31
2 level (type)       62.65435    353.3872           12888.11
2 level (clusetered) 73.67195    352.2130           13401.44

In [26]:
# df_mean_acc <- readRDS("df_mean_acc.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [27]:
df_mean_acc[3,2]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              61.83956    353.9334           14343.00
3 level              70.87249    333.1348           15084.68
2 level (state)      73.09368    316.1820           13590.31
2 level (type)       62.65435    353.3872           12888.11
2 level (clusetered) 73.67195    352.2130           13401.44

#### 2 type

In [28]:
df_eu  <-  read.csv(file="../clustering/hts_us_ind_filled_type.csv", header=TRUE, sep=",", row.names =1 )
df_eu  <-  df_eu/1000

In [29]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

In [30]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
allts <- aggts(y)
allf <- matrix(, nrow=var_h, ncol=ncol(allts))

Since argument characters are not specified, the default labelling system is used.

In [32]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
              
    allts <- aggts(gts_train)
    
    
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant,  method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant,  method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(0,rep(1, dim(df_eu)[2])))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
        
    }

[1]  1 28 29 36

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15868.62 15871.67 15852.64 15825.02 15790.63 15781.65 15768.41 15777.49
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15927.61 15976.18 15983.30 15994.87 16128.30 16136.38 16254.91 16372.60
          0%---------25%---------50%---------75%--------100%
Progress: [1]  5 32 33 40

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15978.05 15931.00 15906.99 15901.26 15903.08 15899.75 15909.30 15926.11
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 33
End = 40
Frequency = 1
[1] 16128.30 16136.38 16254.91 16372.60 16316.98 16522.48 16733.98 16809.04
[1]  9 36 37 44

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16321.01 16274.61 16238.72 16193.53 16202.73 16248.58 16298.65 16349.68
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 37
End = 44
Frequency = 1
[1] 16316.98 16522.48 16733.98 16809.04 16949.40 17070.24 17129.69 17147.05
|[1] 13 40 41 48

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16840.36 16825.39 16800.00 16783.76 16798.07 16838.92 16901.94 16982.22
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 41
End = 48
Frequency = 1
[1] 16949.40 17070.24 17129.69 17147.05 17237.31 17306.78 17369.38 17427.95
|[1] 17 44 45 52

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17186.52 17226.86 17305.98 17390.58 17472.96 17552.94 17619.11 17675.39
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 45
End = 52
Frequency = 1
[1] 17237.31 17306.78 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87
[1] 21 48 49 56

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17394.76 17479.10 17601.28 17670.57 17738.80 17793.93 17858.20 17926.41
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 47
End = 54
Frequency = 1
[1] 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87 17934.57 18122.00

In [33]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [34]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [35]:
df_acc

  ME        RMSE      MAPE      Iteration
1 279.75331 333.73287 1.7279564  1
2 489.89246 550.76414 2.9637697  5
3 568.91786 636.85291 3.3583260  9
4 358.39208 377.74218 2.0776596 13
5  82.40556  95.25827 0.4681421 17
6  17.38111  88.10488 0.3914373 19

In [36]:
l[[5]][,1]

Time Series:
Start = 1
End = 8
Frequency = 1
[1] 17186.04 17225.43 17275.33 17341.06 17414.05 17493.17 17575.67 17658.21

In [37]:
gdp_agg

         Qtr1     Qtr2     Qtr3     Qtr4
2005 14810.82 14901.49 15022.51 15101.40
2006 15314.55 15358.25 15361.53 15464.20
2007 15476.48 15549.12 15617.51 15731.15
2008 15625.38 15697.53 15581.97 15215.99
2009 15077.69 15056.99 15107.67 15245.91
2010 15272.78 15415.95 15513.26 15593.13
2011 15535.51 15632.94 15617.13 15821.82
2012 15927.61 15976.18 15983.30 15994.87
2013 16128.30 16136.38 16254.91 16372.60
2014 16316.98 16522.48 16733.98 16809.04
2015 16949.40 17070.24 17129.69 17147.05
2016 17237.31 17306.78 17369.38 17427.95
2017 17501.51 17637.46 17757.34 17851.87
2018 17934.57 18122.00

In [39]:
colMeans(df_acc)

        ME       RMSE       MAPE  Iteration
299.457065 347.075873   1.831215  10.666667

In [40]:
# df_mean_acc <- readRDS("df_mean_acc.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [41]:
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              61.83956    353.9334           14343.00
3 level              70.87249    333.1348           15084.68
2 level (state)      73.09368    316.1820           13590.31
2 level (type)       62.65435    353.3872           12888.11
2 level (clusetered) 73.67195    352.2130           13401.44

In [42]:
df_mean_acc[4,2]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              61.83956    353.9334           14343.00
3 level              70.87249    333.1348           15084.68
2 level (state)      73.09368    316.1820           13590.31
2 level (type)       62.65435    347.0759           12888.11
2 level (clusetered) 73.67195    352.2130           13401.44

#### 2 clust

In [43]:
df_eu  <-  read.csv(file="../clustering/hts_us_ind_filled_clust.csv", header=TRUE, sep=",", row.names =1 )
df_eu  <-  df_eu/1000

In [44]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

In [45]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
allts <- aggts(y)
allf <- matrix(, nrow=var_h, ncol=ncol(allts))

Since argument characters are not specified, the default labelling system is used.

In [46]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    
      
    allts <- aggts(gts_train)
    
    
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant,  method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant,  method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(0,rep(1, dim(df_eu)[2])))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
        
    }

[1]  1 28 29 36

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15861.68 15892.39 15897.53 15886.28 15861.60 15852.14 15840.35 15845.33
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15927.61 15976.18 15983.30 15994.87 16128.30 16136.38 16254.91 16372.60
          0%---------25%---------50%---------75%--------100%
Progress: [1]  5 32 33 40

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15991.04 15968.02 15950.89 15935.46 15934.69 15933.23 15939.20 15948.05
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 33
End = 40
Frequency = 1
[1] 16128.30 16136.38 16254.91 16372.60 16316.98 16522.48 16733.98 16809.04
[1]  9 36 37 44

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16431.22 16450.19 16465.71 16448.04 16431.91 16416.17 16412.83 16422.53
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 37
End = 44
Frequency = 1
[1] 16316.98 16522.48 16733.98 16809.04 16949.40 17070.24 17129.69 17147.05
|[1] 13 40 41 48

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16864.54 16887.50 16893.49 16887.06 16902.17 16934.07 16975.90 17029.32
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 41
End = 48
Frequency = 1
[1] 16949.40 17070.24 17129.69 17147.05 17237.31 17306.78 17369.38 17427.95
|[1] 17 44 45 52

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17192.82 17228.37 17280.15 17337.93 17399.12 17459.41 17517.29 17574.65
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 45
End = 52
Frequency = 1
[1] 17237.31 17306.78 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87
[1] 21 48 49 56

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17371.09 17450.95 17527.98 17596.50 17672.17 17745.63 17821.86 17905.14
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 47
End = 54
Frequency = 1
[1] 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87 17934.57 18122.00

In [47]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [48]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [49]:
df_acc

  ME        RMSE     MAPE      Iteration
1 229.61044 281.1428 1.4175059  1
2 459.26321 524.0531 2.7769641  5
3 400.03102 494.3402 2.5229309  9
4 282.96831 301.8571 1.6395979 13
5 137.48178 158.4496 0.7800797 17
6  63.84328 100.7371 0.4281514 19

In [50]:
colMeans(df_acc)

        ME       RMSE       MAPE  Iteration
262.199673 310.096654   1.594205  10.666667

In [51]:
# df_mean_acc <- readRDS("df_mean_acc.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [52]:
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              61.83956    353.9334           14343.00
3 level              70.87249    333.1348           15084.68
2 level (state)      73.09368    316.1820           13590.31
2 level (type)       62.65435    347.0759           12888.11
2 level (clusetered) 73.67195    352.2130           13401.44

In [53]:
df_mean_acc[5,2]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              61.83956    353.9334           14343.00
3 level              70.87249    333.1348           15084.68
2 level (state)      73.09368    316.1820           13590.31
2 level (type)       62.65435    347.0759           12888.11
2 level (clusetered) 73.67195    310.0967           13401.44

In [54]:
saveRDS(df_mean_acc, "df_mean_acc_no_weights.rds")
# saveRDS(plots_test_all, "plots_test_not_all.rds")