#### 1

In [1]:
library(forecast)
library(ggplot2)
library(dplyr)
library(gridExtra)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘gridExtra’

The following object is masked from ‘package:dplyr’:

    combine

In [2]:
# library(doParallel)
library(doMC)
options(cores = 10)
registerDoMC()
require(svMisc)

Loading required package: foreach
Loading required package: iterators
Loading required package: parallel
Loading required package: svMisc

Attaching package: ‘svMisc’

The following object is masked from ‘package:utils’:

    ?

In [3]:
library(data.table)
library(hts)

Attaching package: ‘data.table’

The following objects are masked from ‘package:dplyr’:

    between, first, last

In [4]:
df_eu  <-  read.csv(file="../data_hts/hts_us_ind_filled.csv", header=TRUE, sep=",", row.names =1 )
df_eu  <-  df_eu/1000
var_freq  <- 4    
var_start_year  <- 2005   
gdp_agg <- df_eu_sums <-  rowSums(df_eu)
gdp_agg  <- ts(gdp_agg, frequency = var_freq, start = var_start_year)

In [5]:
var_h  <- 8
var_window  <-  28 - 1
var_topup  <-  2
var_iter   <- (length(gdp_agg)+var_topup)/var_freq-(var_window+1)/var_freq-2

In [6]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0


var_arpdq   <-  c(2,0,0)
var_sarpdq   <-  c(0,0,0)
var_drift   <-  TRUE
var_constant   <-  TRUE

var_char  <-  c(2,3)

In [7]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data, characters = var_char)
s  <-  smatrix(y)
# gts_train  <- window(y, start=19, end=46)
# gts_test  <- window(y, start=47, end=54)
# allts <- aggts(gts_train)
# allf <- matrix(, nrow=var_h, ncol=ncol(allts))

In [11]:
var_countries  <-  dim(read.csv(file="../clustering/hts_us_ind_filled_state.csv", header=TRUE, sep=",", row.names =1 ))[2]+1
var_countries

[1] 51

In [12]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    
    allts <- aggts(gts_train)
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant, method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant, method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(rep(0, var_countries), rep(1, (ncol(allts)-var_countries) )))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5, characters = var_char)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
            
    }

[1]  1 28 29 36
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15868.66 15877.34 15876.26 15875.01 15879.51 15892.21 15913.43 15941.13
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15927.61 15976.18 15983.30 15994.87 16128.30 16136.38 16254.91 16372.60
          0%---------25%---------50%---------75%--------100%
Progress: [1]  5 32 33 40
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16001.46 15995.33 15989.46 15990.73 16000.84 16018.19 16040.27 16065.24
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 33
End = 40
Frequency = 1
[1] 16128.30 16136.38 16254.91 16372.60 16316.98 16522.48 16733.98 16809.04
[1]  9 36 37 44
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16386.79 16384.72 16384.26 16390.87 16404.90 16426.24 16453.72 16486.18
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 37
End = 44
Frequency = 1
[1] 16316.98 16522.48 16733.98 16809.04 16949.40 17070.24 17129.69 17147.05
|[1] 13 40 41 48
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16799.42 16794.18 16804.23 16827.21 16858.46 16894.17 16931.53 16969.41
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 41
End = 48
Frequency = 1
[1] 16949.40 17070.24 17129.69 17147.05 17237.31 17306.78 17369.38 17427.95
|[1] 17 44 45 52
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17200.91 17276.17 17346.84 17415.69 17482.84 17550.95 17619.49 17689.14
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 45
End = 52
Frequency = 1
[1] 17237.31 17306.78 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87
[1] 21 48 49 56
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17381.34 17467.92 17546.23 17629.00 17709.10 17789.49 17868.85 17949.16
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 50 1046
Total number of series: 1097
Number of observations per series: 8
Top level series:
Time Series:
Start = 47
End = 54
Frequency = 1
[1] 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87 17934.57 18122.00

In [13]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [14]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)

In [15]:
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [16]:
df_acc

  ME        RMSE      MAPE      Iteration
1 206.32841 240.66837 1.2749808  1
2 396.64316 452.90472 2.3982625  5
3 420.14436 490.65082 2.5780781  9
4 344.89925 357.53899 2.0001457 13
5  63.44524  83.84084 0.3591411 17
6  32.62230  74.35127 0.3178750 19

In [17]:
l[[5]][,1]

Time Series:
Start = 1
End = 8
Frequency = 1
[1] 17201.85 17263.46 17329.96 17399.85 17472.09 17545.94 17620.93 17696.69

In [18]:
df_acc

  ME        RMSE      MAPE      Iteration
1 206.32841 240.66837 1.2749808  1
2 396.64316 452.90472 2.3982625  5
3 420.14436 490.65082 2.5780781  9
4 344.89925 357.53899 2.0001457 13
5  63.44524  83.84084 0.3591411 17
6  32.62230  74.35127 0.3178750 19

In [19]:
colMeans(df_acc)

        ME       RMSE       MAPE  Iteration
244.013789 283.325835   1.488081  10.666667

In [21]:
df_mean_acc <- readRDS("df_mean_acc_no_weights.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    298.8763           15346.86
2 level (state)      67.92739    298.8923           15342.24
2 level (type)       63.95990    299.4158           15511.31
2 level (clusetered) 67.09557    297.5359           15338.88

In [22]:
df_mean_acc[2,2]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           15346.86
2 level (state)      67.92739    298.8923           15342.24
2 level (type)       63.95990    299.4158           15511.31
2 level (clusetered) 67.09557    297.5359           15338.88

#### 2 state

In [24]:
df_eu  <-  read.csv(file="../clustering/hts_us_ind_filled_state.csv", header=TRUE, sep=",", row.names =1 )
df_eu  <-  df_eu/1000

In [25]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

In [26]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
allts <- aggts(y)
allf <- matrix(, nrow=var_h, ncol=ncol(allts))

Since argument characters are not specified, the default labelling system is used.

In [27]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
     
    
    
    allts <- aggts(gts_train)
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant, method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant, method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(0,rep(1, dim(df_eu)[2])))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
            
    }

[1]  1 28 29 36

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15883.36 15915.01 15934.70 15953.78 15975.32 16000.51 16029.13 16060.52
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15927.61 15976.18 15983.30 15994.87 16128.30 16136.38 16254.91 16372.60
          0%---------25%---------50%---------75%--------100%
Progress: [1]  5 32 33 40

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15977.53 15967.76 15966.34 15970.24 15977.36 15986.73 15998.20 16011.99
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 33
End = 40
Frequency = 1
[1] 16128.30 16136.38 16254.91 16372.60 16316.98 16522.48 16733.98 16809.04
[1]  9 36 37 44

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16390.86 16392.19 16396.21 16405.93 16420.70 16439.25 16460.68 16484.42
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 37
End = 44
Frequency = 1
[1] 16316.98 16522.48 16733.98 16809.04 16949.40 17070.24 17129.69 17147.05
|[1] 13 40 41 48

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16814.03 16813.16 16822.93 16845.44 16877.63 16915.70 16956.80 16999.38
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 41
End = 48
Frequency = 1
[1] 16949.40 17070.24 17129.69 17147.05 17237.31 17306.78 17369.38 17427.95
|[1] 17 44 45 52

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17213.33 17294.98 17373.12 17445.58 17515.55 17586.48 17659.15 17732.94
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 45
End = 52
Frequency = 1
[1] 17237.31 17306.78 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87
[1] 21 48 49 56

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17390.00 17477.06 17557.65 17635.53 17711.52 17787.18 17863.02 17939.19
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 50
Total number of series: 51
Number of observations per series: 8
Top level series:
Time Series:
Start = 47
End = 54
Frequency = 1
[1] 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87 17934.57 18122.00

In [28]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [29]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [30]:
df_acc

  ME        RMSE      MAPE      Iteration
1 127.72906 158.10939 0.7884221  1
2 427.31637 484.17021 2.5844137  5
3 411.07751 482.61654 2.5304585  9
4 324.08996 336.46762 1.8793937 13
5  33.55801  58.75820 0.2397905 17
6  30.11459  79.69887 0.3450407 19

In [31]:
l[[5]][,1]

Time Series:
Start = 1
End = 8
Frequency = 1
[1] 17201.85 17263.46 17329.96 17399.85 17472.09 17545.94 17620.93 17696.69

In [32]:
colMeans(df_acc)
df_mean_acc

        ME       RMSE       MAPE  Iteration
225.647581 266.636803   1.394587  10.666667

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           15346.86
2 level (state)      67.92739    298.8923           15342.24
2 level (type)       63.95990    299.4158           15511.31
2 level (clusetered) 67.09557    297.5359           15338.88

In [59]:
# df_mean_acc <- readRDS("df_mean_acc.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [33]:
df_mean_acc[3,2]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           15346.86
2 level (state)      67.92739    266.6368           15342.24
2 level (type)       63.95990    299.4158           15511.31
2 level (clusetered) 67.09557    297.5359           15338.88

#### 2 type

In [34]:
df_eu  <-  read.csv(file="../clustering/hts_us_ind_filled_type.csv", header=TRUE, sep=",", row.names =1 )
df_eu  <-  df_eu/1000

In [35]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

In [36]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
allts <- aggts(y)
allf <- matrix(, nrow=var_h, ncol=ncol(allts))

Since argument characters are not specified, the default labelling system is used.

In [37]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    
    allts <- aggts(gts_train)
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant, method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant, method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(0,rep(1, dim(df_eu)[2])))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
            
    }

[1]  1 28 29 36

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15871.03 15863.76 15833.42 15797.43 15766.92 15749.82 15751.19 15772.67
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15927.61 15976.18 15983.30 15994.87 16128.30 16136.38 16254.91 16372.60
          0%---------25%---------50%---------75%--------100%
Progress: [1]  5 32 33 40

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16012.17 16019.78 16027.31 16042.83 16067.70 16099.77 16136.14 16174.66
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 33
End = 40
Frequency = 1
[1] 16128.30 16136.38 16254.91 16372.60 16316.98 16522.48 16733.98 16809.04
[1]  9 36 37 44

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16364.25 16331.79 16307.58 16301.76 16311.15 16329.95 16353.56 16379.50
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 37
End = 44
Frequency = 1
[1] 16316.98 16522.48 16733.98 16809.04 16949.40 17070.24 17129.69 17147.05
|[1] 13 40 41 48

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16801.63 16773.81 16766.96 16791.95 16841.81 16903.65 16966.61 17024.71
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 41
End = 48
Frequency = 1
[1] 16949.40 17070.24 17129.69 17147.05 17237.31 17306.78 17369.38 17427.95
|[1] 17 44 45 52

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17203.46 17269.23 17343.64 17419.00 17494.03 17568.53 17643.00 17717.52
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 45
End = 52
Frequency = 1
[1] 17237.31 17306.78 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87
[1] 21 48 49 56

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17411.19 17499.66 17575.74 17653.26 17732.18 17813.65 17896.18 17979.33
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 21
Total number of series: 22
Number of observations per series: 8
Top level series:
Time Series:
Start = 47
End = 54
Frequency = 1
[1] 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87 17934.57 18122.00

In [38]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [39]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [40]:
df_acc

  ME         RMSE      MAPE      Iteration
1 295.990437 348.38435 1.8288074  1
2 336.788796 385.40574 2.0362203  5
3 499.912785 572.78131 3.0149054  9
4 345.833838 355.51645 2.0066491 13
5  53.898772  70.02536 0.3053663 17
6   5.113081  67.61253 0.3153757 19

In [41]:
l[[5]][,1]

Time Series:
Start = 1
End = 8
Frequency = 1
[1] 17201.85 17263.46 17329.96 17399.85 17472.09 17545.94 17620.93 17696.69

In [42]:
gdp_agg

         Qtr1     Qtr2     Qtr3     Qtr4
2005 14810.82 14901.49 15022.51 15101.40
2006 15314.55 15358.25 15361.53 15464.20
2007 15476.48 15549.12 15617.51 15731.15
2008 15625.38 15697.53 15581.97 15215.99
2009 15077.69 15056.99 15107.67 15245.91
2010 15272.78 15415.95 15513.26 15593.13
2011 15535.51 15632.94 15617.13 15821.82
2012 15927.61 15976.18 15983.30 15994.87
2013 16128.30 16136.38 16254.91 16372.60
2014 16316.98 16522.48 16733.98 16809.04
2015 16949.40 17070.24 17129.69 17147.05
2016 17237.31 17306.78 17369.38 17427.95
2017 17501.51 17637.46 17757.34 17851.87
2018 17934.57 18122.00

In [43]:
colMeans(df_acc)

        ME       RMSE       MAPE  Iteration
256.256285 299.954290   1.584554  10.666667

In [44]:
# df_mean_acc <- readRDS("df_mean_acc.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [45]:
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           15346.86
2 level (state)      67.92739    266.6368           15342.24
2 level (type)       63.95990    299.4158           15511.31
2 level (clusetered) 67.09557    297.5359           15338.88

In [46]:
df_mean_acc[4,2]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           15346.86
2 level (state)      67.92739    266.6368           15342.24
2 level (type)       63.95990    299.9543           15511.31
2 level (clusetered) 67.09557    297.5359           15338.88

#### 2 clust

In [47]:
df_eu  <-  read.csv(file="../clustering/hts_us_ind_filled_clust.csv", header=TRUE, sep=",", row.names =1 )
df_eu  <-  df_eu/1000

In [48]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

In [49]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
allts <- aggts(y)
allf <- matrix(, nrow=var_h, ncol=ncol(allts))

Since argument characters are not specified, the default labelling system is used.

In [50]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    
    allts <- aggts(gts_train)
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant, method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant, method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(0,rep(1, dim(df_eu)[2])))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
            
    }

[1]  1 28 29 36

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15899.52 15927.66 15938.13 15942.30 15945.46 15950.82 15960.44 15975.39
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 15927.61 15976.18 15983.30 15994.87 16128.30 16136.38 16254.91 16372.60
          0%---------25%---------50%---------75%--------100%
Progress: [1]  5 32 33 40

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16019.31 16032.23 16044.35 16058.88 16076.80 16097.98 16122.26 16149.68
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 33
End = 40
Frequency = 1
[1] 16128.30 16136.38 16254.91 16372.60 16316.98 16522.48 16733.98 16809.04
[1]  9 36 37 44

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16426.41 16438.54 16429.34 16412.31 16396.65 16388.94 16393.74 16413.81
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 37
End = 44
Frequency = 1
[1] 16316.98 16522.48 16733.98 16809.04 16949.40 17070.24 17129.69 17147.05
|[1] 13 40 41 48

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 16844.99 16871.42 16908.54 16958.86 17016.98 17076.20 17131.92 17182.59
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 41
End = 48
Frequency = 1
[1] 16949.40 17070.24 17129.69 17147.05 17237.31 17306.78 17369.38 17427.95
|[1] 17 44 45 52

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17195.66 17263.37 17333.93 17402.52 17469.66 17537.21 17606.25 17676.74
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 45
End = 52
Frequency = 1
[1] 17237.31 17306.78 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87
[1] 21 48 49 56

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 29
End = 36
Frequency = 1
[1] 17386.08 17465.36 17542.97 17621.64 17701.64 17782.60 17864.00 17945.57
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 47
End = 54
Frequency = 1
[1] 17369.38 17427.95 17501.51 17637.46 17757.34 17851.87 17934.57 18122.00

In [51]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [52]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [53]:
df_acc

  ME        RMSE      MAPE      Iteration
1 154.30445 200.09374 0.9515775  1
2 334.14755 389.28117 2.0190122  5
3 422.38911 514.56031 2.6480233  9
4 205.78734 210.07584 1.1943446 13
5  75.53105  93.59733 0.4280813 17
6  36.52683  77.18202 0.3382661 19

In [54]:
l[[5]][,1]

Time Series:
Start = 1
End = 8
Frequency = 1
[1] 17201.85 17263.46 17329.96 17399.85 17472.09 17545.94 17620.93 17696.69

In [58]:
colMeans(df_acc)

        ME       RMSE       MAPE  Iteration
204.781054 247.465068   1.263218  10.666667

In [87]:
# df_mean_acc <- readRDS("df_mean_acc.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [56]:
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           15346.86
2 level (state)      67.92739    266.6368           15342.24
2 level (type)       63.95990    299.9543           15511.31
2 level (clusetered) 67.09557    297.5359           15338.88

In [57]:
df_mean_acc[5,2]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              64.30372    299.5702           15884.63
3 level              66.31314    283.3258           15346.86
2 level (state)      67.92739    266.6368           15342.24
2 level (type)       63.95990    299.9543           15511.31
2 level (clusetered) 67.09557    247.4651           15338.88

In [59]:
saveRDS(df_mean_acc, "df_mean_acc_no_weights.rds")
# saveRDS(plots_test_all, "plots_test_not_all.rds")