#### 2

In [10]:
library(forecast)
library(ggplot2)
library(dplyr)
library(gridExtra)

In [11]:
# library(doParallel)
library(doMC)
options(cores = 10)
registerDoMC()
require(svMisc)

In [12]:
library(data.table)
library(hts)

In [13]:
df_eu  <-  read.csv(file="../data_hts/hts_eu_a10.csv", header=TRUE, sep=",", row.names =1 )
df_eu  <-  df_eu/1000
var_freq  <- 4    
var_start_year  <- 2000   
gdp_agg <- df_eu_sums <-  rowSums(df_eu)
gdp_agg  <- ts(gdp_agg, frequency = var_freq, start = var_start_year)

In [14]:
var_h  <- 8
var_window  <-  48 - 1
var_topup  <-  1
var_iter   <- (length(gdp_agg)+var_topup)/var_freq-(var_window+1)/var_freq-2

In [15]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

var_arpdq   <-  c(3,0,0)
var_sarpdq   <-  c(2,0,0)
var_drift   <-  TRUE
var_constant   <-  TRUE

var_char  <-  c(2,1)

In [16]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data, characters = var_char)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
# allts <- aggts(gts_train)
# allf <- matrix(, nrow=var_h, ncol=ncol(allts))

In [17]:
var_countries  <-  dim(read.csv(file="../clustering/hts_eu_a10_state.csv", header=TRUE, sep=",", row.names =1 ))[2]+1
var_countries

[1] 29

In [18]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    allts <- aggts(gts_train)
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant, method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant, method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(rep(0, var_countries), rep(1, (ncol(allts)-var_countries) )))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5, characters = var_char)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
            
    }

[1]  1 48 49 56
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 28 280
Total number of series: 309
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 2962.912 3014.863 3013.756 3080.664 3037.880 3099.321 3103.647 3159.878
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 28 280
Total number of series: 309
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 2958.070 3010.722 3033.490 3075.700 2977.965 3035.742 3044.227 3122.905
          0%---------25%---------50%---------75%--------100%
Progress: [1]  5 52 53 60
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 28 280
Total number of series: 309
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3021.521 3070.020 3080.518 3123.272 3071.351 3120.545 3128.539 3176.011
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 28 280
Total number of series: 309
Number of observations per series: 8
Top level series:
Time Series:
Start = 53
End = 60
Frequency = 1
[1] 2977.965 3035.742 3044.227 3122.905 3072.484 3133.907 3160.757 3236.918
[1]  9 56 57 64
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 28 280
Total number of series: 309
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3051.809 3107.196 3108.598 3167.941 3110.370 3162.199 3168.991 3219.220
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 28 280
Total number of series: 309
Number of observations per series: 8
Top level series:
Time Series:
Start = 57
End = 64
Frequency = 1
[1] 3072.484 3133.907 3160.757 3236.918 3227.776 3311.839 3325.372 3405.251
|[1] 13 60 61 68
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 28 280
Total number of series: 309
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3180.611 3225.275 3232.681 3286.216 3230.080 3271.143 3280.589 3332.979
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 28 280
Total number of series: 309
Number of observations per series: 8
Top level series:
Time Series:
Start = 61
End = 68
Frequency = 1
[1] 3227.776 3311.839 3325.372 3405.251 3304.666 3362.395 3318.470 3395.389
|[1] 17 64 65 72
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 28 280
Total number of series: 309
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3355.098 3401.150 3398.259 3455.743 3400.808 3440.410 3442.304 3499.098
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 28 280
Total number of series: 309
Number of observations per series: 8
Top level series:
Time Series:
Start = 65
End = 72
Frequency = 1
[1] 3304.666 3362.395 3318.470 3395.389 3357.919 3432.684 3434.182 3530.894
[1] 21 68 69 76
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 28 280
Total number of series: 309
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3368.708 3285.770 3333.210 3328.350 3392.961 3343.539 3402.762 3416.291
Hierarchical Time Series
3 Levels
Number of nodes at each level: 1 28 280
Total number of series: 309
Number of observations per series: 8
Top level series:
Time Series:
Start = 68
End = 75
Frequency = 1
[1] 3395.389 3357.919 3432.684 3434.182 3530.894 3471.013 3542.181 3541.582

In [19]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [20]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)

In [21]:
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [22]:
df_acc

  ME          RMSE      MAPE      Iteration
1 -26.7626349  40.28722 1.0444119  1
2  -0.8590579  34.12618 0.8949802  5
3  97.2475831 113.93983 2.9534787  9
4  76.4480699  80.38887 2.2885653 13
5 -32.0339415  46.13911 1.1875013 17
6 104.2816734 110.35374 2.9958344 20

In [23]:
l[[5]][,1]

Time Series:
Start = 1
End = 8
Frequency = 1
[1] 3382.563 3436.319 3425.729 3476.709 3442.388 3484.096 3474.481 3525.213

In [25]:
colMeans(df_acc)

       ME      RMSE      MAPE Iteration
36.386949 70.872492  1.894129 10.833333

In [26]:
df_mean_acc <- readRDS("df_mean_acc.rds")
rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [27]:
df_mean_acc[2,1]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              61.83956    353.9334           14343.00
3 level              70.87249    353.0963           15084.68
2 level (state)      62.03617    353.1170           13590.31
2 level (type)       61.89342    353.3872           12888.11
2 level (clusetered) 62.15618    352.2130           13401.44

#### 2 state

In [28]:
df_eu  <-  read.csv(file="../clustering/hts_eu_a10_state.csv", header=TRUE, sep=",", row.names =1 )
df_eu  <-  df_eu/1000
var_freq  <- 4    
var_start_year  <- 2000   
gdp_agg <- df_eu_sums <-  rowSums(df_eu)
gdp_agg  <- ts(gdp_agg, frequency = var_freq, start = var_start_year)

In [29]:
var_h  <- 8
var_window  <-  48 - 1
var_topup  <-  1
var_iter   <- (length(gdp_agg)+var_topup)/var_freq-(var_window+1)/var_freq-2

In [30]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

# var_arpdq   <-  c(3,0,0)
# var_sarpdq   <-  c(2,0,0)
# var_char  <-  c(2,1)

In [31]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
# allts <- aggts(y)
# allf <- matrix(, nrow=var_h, ncol=ncol(allts))

Since argument characters are not specified, the default labelling system is used.

In [32]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    
         
    allts <- aggts(gts_train)
    
    
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant,  method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant,  method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(0,rep(1, dim(df_eu)[2])))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
        
    }

[1]  1 48 49 56

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 28
Total number of series: 29
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 2950.305 2994.139 2989.717 3055.594 3006.656 3069.611 3071.954 3126.497
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 28
Total number of series: 29
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 2958.070 3010.722 3033.490 3075.700 2977.965 3035.742 3044.227 3122.905
          0%---------25%---------50%---------75%--------100%
Progress: [1]  5 52 53 60

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 28
Total number of series: 29
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3017.071 3066.387 3071.048 3109.864 3056.049 3100.293 3101.395 3153.176
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 28
Total number of series: 29
Number of observations per series: 8
Top level series:
Time Series:
Start = 53
End = 60
Frequency = 1
[1] 2977.965 3035.742 3044.227 3122.905 3072.484 3133.907 3160.757 3236.918
[1]  9 56 57 64

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 28
Total number of series: 29
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3059.897 3114.499 3110.765 3170.430 3116.282 3168.458 3169.666 3219.824
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 28
Total number of series: 29
Number of observations per series: 8
Top level series:
Time Series:
Start = 57
End = 64
Frequency = 1
[1] 3072.484 3133.907 3160.757 3236.918 3227.776 3311.839 3325.372 3405.251
|[1] 13 60 61 68

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 28
Total number of series: 29
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3182.535 3231.537 3234.788 3286.785 3226.738 3266.406 3267.884 3319.391
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 28
Total number of series: 29
Number of observations per series: 8
Top level series:
Time Series:
Start = 61
End = 68
Frequency = 1
[1] 3227.776 3311.839 3325.372 3405.251 3304.666 3362.395 3318.470 3395.389
|[1] 17 64 65 72

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 28
Total number of series: 29
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3358.203 3409.233 3407.283 3463.372 3399.935 3439.743 3440.830 3494.809
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 28
Total number of series: 29
Number of observations per series: 8
Top level series:
Time Series:
Start = 65
End = 72
Frequency = 1
[1] 3304.666 3362.395 3318.470 3395.389 3357.919 3432.684 3434.182 3530.894
[1] 21 68 69 76

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 28
Total number of series: 29
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3366.837 3273.840 3323.113 3311.809 3374.017 3324.929 3389.386 3402.717
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 28
Total number of series: 29
Number of observations per series: 8
Top level series:
Time Series:
Start = 68
End = 75
Frequency = 1
[1] 3395.389 3357.919 3432.684 3434.182 3530.894 3471.013 3542.181 3541.582

In [33]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [34]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [35]:
colMeans(df_acc)

       ME      RMSE      MAPE Iteration
44.706960 73.093678  1.971671 10.833333

In [36]:
# df_mean_acc <- readRDS("df_mean_acc.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [37]:
df_mean_acc[3,1]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              61.83956    353.9334           14343.00
3 level              70.87249    353.0963           15084.68
2 level (state)      73.09368    353.1170           13590.31
2 level (type)       61.89342    353.3872           12888.11
2 level (clusetered) 62.15618    352.2130           13401.44

#### 2 type

In [39]:
df_eu  <-  read.csv(file="../clustering/hts_eu_a10_type.csv", header=TRUE, sep=",", row.names =1 )
df_eu  <-  df_eu/1000
var_freq  <- 4    
var_start_year  <- 2000   
gdp_agg <- df_eu_sums <-  rowSums(df_eu)
gdp_agg  <- ts(gdp_agg, frequency = var_freq, start = var_start_year)

In [40]:
var_h  <- 8
var_window  <-  48 - 1
var_topup  <-  1
var_iter   <- (length(gdp_agg)+var_topup)/var_freq-(var_window+1)/var_freq-2

In [41]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

# var_arpdq   <-  c(3,0,0)
# var_sarpdq   <-  c(2,0,0)
# var_char  <-  c(2,1)

In [42]:
75-69

[1] 6

In [43]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
allts <- aggts(gts_train)
allf <- matrix(, nrow=var_h, ncol=ncol(allts))

Since argument characters are not specified, the default labelling system is used.

In [44]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    
         
    allts <- aggts(gts_train)
    
    
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant,  method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant,  method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(0,rep(1, dim(df_eu)[2])))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
        
    }

[1]  1 48 49 56

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 10
Total number of series: 11
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 2963.709 3010.303 3017.085 3083.117 3045.029 3093.839 3105.010 3166.615
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 10
Total number of series: 11
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 2958.070 3010.722 3033.490 3075.700 2977.965 3035.742 3044.227 3122.905
          0%---------25%---------50%---------75%--------100%
Progress: [1]  5 52 53 60

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 10
Total number of series: 11
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3026.826 3072.049 3090.611 3138.168 3097.134 3143.154 3164.886 3210.953
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 10
Total number of series: 11
Number of observations per series: 8
Top level series:
Time Series:
Start = 53
End = 60
Frequency = 1
[1] 2977.965 3035.742 3044.227 3122.905 3072.484 3133.907 3160.757 3236.918
[1]  9 56 57 64

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 10
Total number of series: 11
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3061.280 3125.056 3142.576 3205.834 3140.711 3194.138 3207.339 3263.822
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 10
Total number of series: 11
Number of observations per series: 8
Top level series:
Time Series:
Start = 57
End = 64
Frequency = 1
[1] 3072.484 3133.907 3160.757 3236.918 3227.776 3311.839 3325.372 3405.251
|[1] 13 60 61 68

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 10
Total number of series: 11
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3182.332 3229.001 3242.510 3299.767 3245.443 3286.984 3304.369 3356.952
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 10
Total number of series: 11
Number of observations per series: 8
Top level series:
Time Series:
Start = 61
End = 68
Frequency = 1
[1] 3227.776 3311.839 3325.372 3405.251 3304.666 3362.395 3318.470 3395.389
|[1] 17 64 65 72

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 10
Total number of series: 11
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3370.621 3420.531 3416.323 3466.290 3420.590 3463.220 3466.164 3516.251
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 10
Total number of series: 11
Number of observations per series: 8
Top level series:
Time Series:
Start = 65
End = 72
Frequency = 1
[1] 3304.666 3362.395 3318.470 3395.389 3357.919 3432.684 3434.182 3530.894
[1] 21 68 69 76

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 10
Total number of series: 11
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3370.261 3289.119 3354.266 3351.743 3418.132 3361.925 3430.235 3436.867
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 10
Total number of series: 11
Number of observations per series: 8
Top level series:
Time Series:
Start = 68
End = 75
Frequency = 1
[1] 3395.389 3357.919 3432.684 3434.182 3530.894 3471.013 3542.181 3541.582

In [45]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [46]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)

In [47]:
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [49]:
colMeans(df_acc)

       ME      RMSE      MAPE Iteration
19.635226 62.654354  1.655129 10.833333

In [50]:
# df_mean_acc <- readRDS("df_mean_acc.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [51]:
df_mean_acc[4,1]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              61.83956    353.9334           14343.00
3 level              70.87249    353.0963           15084.68
2 level (state)      73.09368    353.1170           13590.31
2 level (type)       62.65435    353.3872           12888.11
2 level (clusetered) 62.15618    352.2130           13401.44

#### 2 clust

In [53]:
df_eu  <-  read.csv(file="../clustering/hts_eu_a10_clust.csv", header=TRUE, sep=",", row.names =1 )
df_eu  <-  df_eu/1000
var_freq  <- 4    
var_start_year  <- 2000   
gdp_agg <- df_eu_sums <-  rowSums(df_eu)
gdp_agg  <- ts(gdp_agg, frequency = var_freq, start = var_start_year)

In [54]:
var_h  <- 8
var_window  <-  48 - 1
var_topup  <-  1
var_iter   <- (length(gdp_agg)+var_topup)/var_freq-(var_window+1)/var_freq-2

In [55]:
# var_allornot  <- var_freq
var_allornot  <- 1
# var_shift  <-  var_topup
var_shift  <-  0

In [56]:
df_eu  <-  as.data.table(df_eu)
data  <-  df_eu
y  <-  hts(data)
s  <-  smatrix(y)
# gts_train  <- window(y, start=20, end=67)
# gts_test  <- window(y, start=68, end=75)
# allts <- aggts(gts_train)
# allf <- matrix(, nrow=var_h, ncol=ncol(allts))

Since argument characters are not specified, the default labelling system is used.

In [57]:
l <- ac <- m_top  <- l_test  <-  l_top  <-  list()

df_ac  <-  data.frame(matrix(ncol = 0, nrow = 0))

k  <- 0

for (i in 0:(var_iter*var_allornot - var_shift)){
    k  <-  k+1
    st_year  <-  var_start_year + i/var_allornot
    train_start  <- st_year 
    train_end  <- st_year + 1/var_freq*(var_window)
    test_start  <- st_year + 1/var_freq*(var_window+1) 
    test_end  <-  st_year + 1/var_freq*(var_window+var_h)
    
    dates  <-  (c(train_start, train_end, test_start, test_end, train_start-var_topup/var_freq, train_end-var_topup/var_freq, test_start-var_topup/var_freq)-var_start_year)*var_freq+1
    
    train_start  <- dates[1] 
    train_end  <- dates[2]
    test_start  <- dates[3]
    test_end  <- dates[4]
    
    print(c(train_start, train_end, test_start, test_end))
    
    
    if (i == 0){
        gts_train <- window(y, end=train_end)    
    }
    else{
        if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
            gts_train <- window(y, start=dates[5], end=dates[6])
        }else{
            gts_train <- window(y, start=train_start, end=train_end)
    }}
    
    if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
        gts_test <- window(y, start=dates[7])
      
    }else{  
     gts_test <- window(y, start=test_start, end=test_end)
          
    }
    
    
         
    allts <- aggts(gts_train)
    
    
    
    ms <-  foreach(j=1:ncol(allts)) %dopar% {
        model  <- tryCatch(        
        Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq,  include.drift = var_drift, include.mean = var_constant,  method="ML"), 
            error = function(e) 
#                               {tryCatch( 
                Arima(msts(allts[,j], seasonal.periods = var_freq), order=var_arpdq, seasonal=var_sarpdq, include.drift = var_drift, include.mean = var_constant,  method="CSS") #,
#                          error = function(e)              
#                             auto.arima(msts(allts[,j], seasonal.periods = var_freq))
#                          )}
                        
            )
        
    }
    
     
        
    allf <- matrix(, nrow=var_h, ncol=ncol(allts))
        
    
    for(j in 1:ncol(allts)){  
    allf[,j] <- forecast(ms[[j]], h=var_h)$mean
    
    
    }

    
    allf <- ts(allf)
    colnames(allf)  <-  colnames(allts)  
    g <- get_nodes(gts_train)
    y.f <- combinef(allf, nodes = g, weights = c(0,rep(1, dim(df_eu)[2])))
    forecasts_7  <- y.f[[1]]
    colnames(forecasts_7)  <- colnames(y[[1]])
    data_f5  <- rbind(gts_train[[1]], forecasts_7)
    y_f5  <- hts(data_f5)
        
#     if (i == 4){
#         gts_forecasts_7 <- window(y_f5, start=test_start)}
#     else{
#     gts_forecasts_7 <- window(y_f5, start=test_start, end=test_end)
# #     }

#     if ((var_shift == 0) & (i == var_iter*var_allornot - var_shift)){
#         gts_forecasts_7 <- window(y_f5, start=dates[7])
      
#     }else{  
     gts_forecasts_7 <- window(y_f5, start=dim(y_f5[[1]])[1]-var_h+1)
          
#     }
         
    print(gts_forecasts_7)
    print(gts_test)
            
    
    l[[k]]  <- allf

    ac[[k]]  <-  accuracy.gts(gts_forecasts_7, gts_test)[, 1] 

    progress(i, progress.bar = TRUE)
        
    }

[1]  1 48 49 56

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 2949.328 2996.185 2995.318 3062.929 3014.242 3079.335 3086.404 3142.174
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 2958.070 3010.722 3033.490 3075.700 2977.965 3035.742 3044.227 3122.905
          0%---------25%---------50%---------75%--------100%
Progress: [1]  5 52 53 60

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3021.406 3072.809 3081.881 3121.237 3064.410 3109.868 3113.456 3159.588
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 53
End = 60
Frequency = 1
[1] 2977.965 3035.742 3044.227 3122.905 3072.484 3133.907 3160.757 3236.918
[1]  9 56 57 64

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3054.749 3113.125 3115.143 3171.291 3110.541 3161.174 3165.111 3211.862
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 57
End = 64
Frequency = 1
[1] 3072.484 3133.907 3160.757 3236.918 3227.776 3311.839 3325.372 3405.251
|[1] 13 60 61 68

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3183.695 3231.671 3236.382 3287.860 3226.440 3265.919 3269.540 3320.204
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 61
End = 68
Frequency = 1
[1] 3227.776 3311.839 3325.372 3405.251 3304.666 3362.395 3318.470 3395.389
|[1] 17 64 65 72

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3365.170 3413.912 3409.100 3465.169 3410.829 3446.076 3445.178 3498.358
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 65
End = 72
Frequency = 1
[1] 3304.666 3362.395 3318.470 3395.389 3357.919 3432.684 3434.182 3530.894
[1] 21 68 69 76

Since argument characters are not specified, the default labelling system is used.

Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 49
End = 56
Frequency = 1
[1] 3366.935 3281.744 3325.104 3318.794 3378.447 3331.834 3392.572 3410.583
Hierarchical Time Series
2 Levels
Number of nodes at each level: 1 25
Total number of series: 26
Number of observations per series: 8
Top level series:
Time Series:
Start = 68
End = 75
Frequency = 1
[1] 3395.389 3357.919 3432.684 3434.182 3530.894 3471.013 3542.181 3541.582

In [58]:
var_acc_metrics  <-  c(1,2,4)
df_acc_test  <- ac[[1]][var_acc_metrics]
for (i in ac[2:length(ac)]){
    x  <-  i[var_acc_metrics]
    df_acc_test   <-  cbind(df_acc_test, x)
}
df_acc_test  <- t(df_acc_test)
df_acc_test  <-  as.data.frame(df_acc_test)
row.names(df_acc_test)  <-  seq(1,length(ac))
df_acc  <- df_acc_test
df_acc  <-  cbind(df_acc, seq(1, length(ac)))
colnames(df_acc)[length(var_acc_metrics)+1]  <-  'Iteration'

In [59]:
df_acc$Iteration  <-  df_acc$Iteration*var_freq-(var_freq-1)

In [60]:
df_acc$Iteration[length(df_acc$Iteration)]  <-   df_acc$Iteration[length(df_acc$Iteration)] - var_topup

In [62]:
colMeans(df_acc)

       ME      RMSE      MAPE Iteration
 40.76145  73.67195   1.98806  10.83333

In [63]:
# df_mean_acc <- readRDS("df_mean_acc.rds")
# rownames(df_mean_acc)[2:5]  <-  c('3 level', '2 level (state)', '2 level (type)' ,'2 level (clusetered)' )

In [64]:
df_mean_acc[5,1]  <-  colMeans(df_acc)[[2]] 
df_mean_acc

                     Квартальные Сезонно сглаженные Месячные
1 level              61.83956    353.9334           14343.00
3 level              70.87249    353.0963           15084.68
2 level (state)      73.09368    353.1170           13590.31
2 level (type)       62.65435    353.3872           12888.11
2 level (clusetered) 73.67195    352.2130           13401.44

In [66]:
saveRDS(df_mean_acc, "df_mean_acc_no_weights.rds")